.layui-card-header {
    height: auto;
}

.collect-btn-group {
    padding: 15px 0px;
}

.collect-btn-group div {
    display: inline-block;
}

.collect-btn-group div input {
    width: 140px;
    height: 34px;
    border: 2px solid #50A8E8;
    border-radius: 5px;
    padding-left: 10px;
}

.collect-btn-group div button {
    height: 38px !important;
    line-height: 38px !important;
    border: 2px solid #50A8E8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90px;
    position: relative;
    top: -1px;
    left: -10px;
    background-color: #50A8E8;
}

.collect-btn-group div button:hover {
    opacity: 1;
}

.collect-delete {
    float: right;
    background-color: #50A8E8;
    width: 60px;
    border-radius: 5px;
    height: 38px !important;
    line-height: 38px !important;
    position: relative;
    top: 2px;
}

.collect-btn-group i {
    font-size: 18px !important;
}

.layui-table-page {
    text-align: center;
    border-top: none;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #E7E7E7;
}

.layui-laypage .layui-laypage-curr em {
    color: #2670E1;
}

.layui-laypage a, .layui-laypage button, .layui-laypage input, .layui-laypage select, .layui-laypage span {
    border: 1px solid #e2e2e2 !important;
}

.layui-laypage span.layui-laypage-count {
    border: none !important;
    margin-left: 20px;
}

.layui-table-view .layui-table td {
    height: 150px;
}

.layui-table-view .layui-table th {
    height: 75px;
}

.layui-table-view {
    border: none;
}

.layui-table thead tr {
    background-color: #fff;
}

.layui-table-cell {
    height: auto;
}