@import url('variables');
/*表格头部以及默认样式重置*/
.layui-card {
  .layui-card-header {
    padding-top: 5px;
    box-sizing: border-box;

    h3 {
      font-size: 16px;
      font-weight: 400;
      color: @titleColor;
      line-height: 30px;
    }

    .layui-btn {
      height: @btnHeight;
      line-height: @btnHeight;
    }
  }

  .layui-card-body {
    .action-item {
      margin-right: 5px;
    }
  }
}
